/* Color Palette
# - text: #0c1317
# - background: #fcfcff
# - primary: #1f4252
# - secondary: #eda35e
# - accent: #bd9584
*/

/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
  scroll-padding-top: 70px; /* Adjust based on nav height, fixes anchor link jump */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: #0c1317;
    background: #fcfcff;
    font-family: "Funnel Sans", sans-serif;
    font-size: 12pt;
    margin: 0;
}

h1 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 40pt;
    margin-top: 0;
}

h2 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 30pt;
    margin-top: 0;
}

h3 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 13pt;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

/* Header & Footer 
------------------------------------*/
nav {
    height: 70px;
    width: 100%;
    background-color: #0f2834;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a {
    font-size: 20pt;
    color:#fcfcff;
    text-decoration: none;
    text-align: center;
}

.nav-box {
    height: 100%;
    align-content: center;
}

.nav-box:hover {
    border-bottom: 5px solid #eda35e;
    color: #eda35e;
}

.nav-box:hover a {
    color: #eda35e;
}


header {
    background-color: #1f4252;
    color: #fcfcff;
}

footer {
    background-color: #1f4252;
    color: #fcfcff;
    text-align: center;
}

footer a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

.contact-info a{
    padding: 10px; 
    display: inline-block;
    color: #eda35e;
}

.profile-img {
    border-radius: 50%;
}

.column-narrow {
    width: 30%; 
    float: left; 
    margin-right: 3%; 
    min-height: 175px;
}

.column-wide {
    width: 67%; 
    float: left; 
    min-height: 225px;
}


/* Work Experience
------------------------------------*/
.work-exp {
    background-color: #fcfcff;
}



/* Education
------------------------------------*/

.edu {
    background-color: #eda35e;
    background-image: 
        linear-gradient(
            rgba(237, 163, 94, 0.99), 
            rgba(237, 163, 94, 0.85)   
        ),
        url("../images/csun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
